<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="{% static "css/style.css" %}">
        <link type="text/css" rel="stylesheet" href="{% static "css/materialize.min.css" %}"  media="screen,projection"/>

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8"/>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <title>Dashboard - Procon Analytics</title>
    </head>

    <body>
        <header>
            <nav>
                <div class="nav-wrapper grey darken-3">
                    <a href="#" class="brand-logo"><img src="{% static 'img/logo.png' %}"  id="logo"></a>
                        <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li>login</li>
                        <li><a href="{% url 'login' %}"><i class="material-icons">exit_to_app</i></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <main>
            <div class="conteudo">
                <div id="dash">
                    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

                    <div class="col l12 dash-area grey lighten-5">
                        <iframe style="border: none;" src="graph" height="350x" width="500px"></iframe>
                        <iframe style="border: none;" src="graph2" height="350px" width="500px"></iframe>
                    </div>
                </div>
            </div>
        </main>
        <footer class="page-footer grey darken-3">
          <div class="footer-copyright">
            <div class="container">
                <span class="right-center">© 2018 Procon Analytics</span>
                <a class="grey-text text-lighten-4 right" href="#!">FAQ</a>
            </div>
          </div>
        </footer>
        <!--Import jQuery before materialize.js-->
        <script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/materialize.min.js' %}" ></script>
      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <!-- Latest compiled and minified JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    </body>
</html>