{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Testando o select</title>
    <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}"  media="screen,projection">
</head>
<body>
    <header></header>

    <main>
        <div class="input-field col s12">
            <form>
                <label>Teste de select</label>
                <br>
                <br>
                <select>
                    <option value="" disabled selected>Choose your option</option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                </select>
            </form>
        </div>
        <script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/materialize.min.js' %}" ></script>
        <script>
            $(document).ready(function() {
                $('select').not('.disabled').material_select();
            });
        </script>
    </main>

    <footer></footer>

</body>
</html>